{% extends "header.html" %}
{% block content %}
<h1>All Courses</h1>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if prev_page_num %}

            <li class="page-item"><a class="page-link" href="{{ url_for('all_courses', page_num=prev_page_num) }}">Previous</a></li>
        {% endif %}
            <li class="page-item"><a class="page-link" href="{{ url_for('all_courses', page_num=next_page_num) }}">Next</a></li>
    </ul>
</nav>



{% for course, info in courses.items() %}
<ul>
    <li> <h3> {{ course }}, {{ info.name }} ({{ info.credits }} credits) </h3>
        <br> Average GPA of Course: {% if info.avg_gpa %} {{ '%0.2f'|format(info.avg_gpa) }} {% endif %}
        <ul>
        {% for section in info.sections.values() %}
                <li><h4> {{section.section_id}} </h4>
                    {{section.open_seats}} out of {{section.total_seats}} seats available <br>
                    {% for professor in section.professor %}
                        {{ professor }} <br>
                    {% endfor %}

                    {%for times, day in section.get_formatted_weekly_schedule().items() %}
                    <ul>{{day}}: {{times}}</ul>
                </li>
                {%endfor%}
        {% endfor %}
        </ul>
     </li>
</ul>
{% endfor %}
{% endblock %}