{% extends "header.html" %}
{% block content %}
<b>UMD Schedule Builder</b>
{% for course, info in courses.items() %}
<ul> <li> {{ course }}, {{ info.name }} </li>
        <ul>
        {% for section in info.sections.values() %}
                {{section.section_id}}
                {%for times, day in section.get_formatted_weekly_schedule().items() %}
                    <ul>{{day}}: {{times}}</ul>
                {%endfor%}
        {% endfor %}
        </ul>
    </ul>
{% endfor %}
{% endblock %}