{% extends "header.html" %}
{% block content %}
<h1>All Professors</h1>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if prev_page_num %}

            <li class="page-item"><a class="page-link" href="{{ url_for('all_professors', page_num=prev_page_num) }}">Previous</a></li>
        {% endif %}
            <li class="page-item"><a class="page-link" href="{{ url_for('all_professors', page_num=next_page_num) }}">Next</a></li>
    </ul>
</nav>


{% for name, slug, rating in professor_names_slugs %}
    
<div class="card">
    <div class="card-header">
        <h2> Name: {{name}} </h2>
    </div>
    <div class="card-body">
    <p class="card-text">Average rating: {{rating}}</p>
    <a href="{{ url_for('professor_detail', name=name, slug=slug) }}" class="btn btn-primary">Visit Professor Page</a>
    </div>
</div>

{% endfor %}
{% endblock %}
